<p>API : http://world.openfoodfacts.org/api/v0/product/upc_code.json</p>

<br>

<%= render "form", product: @product %>

<br>

<div>
  <h4>Click Here For <%= link_to "List Of Product", products_path %> </h4><br>
</div>